/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #014732;
  --matr-navbar-bg-rgb: 1,71,50;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: #008800;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  --bs-light: #373737;
  --bs-light-rgb: 55,	55,	55;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#editButton {
  font-size: 15px;
  float: left;
}

#requestButton {
  font-size: 15px;
  text-align: end;
  float: right;
}

#item-cards:hover{
  text-decoration: none;
  color: blue;
}

#item-cards {
  text-decoration: none;
  color: black;
}

#mini-profile {
  text-decoration: none;
  color: black;
}

#mini-profile:hover {
  text-decoration: none;
  color: black;
}

.img {
  width: 45vw;
  height: 65vh;
}

#btn1 {
  white-space: nowrap;
}

#button-contain {
  font-size: 0;
}

#feedback {
  outline: none;
}

.text-decoration-none:hover {
  color: lightgreen;
}

#hasAccount {
  color: white;
}

.profileImg {
  border-radius: 50%;
  width: 240px;
  height: auto;
}